@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #000000;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-tag {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 16px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #3364cd;
  border: 1px solid #3364cd;
  border-radius: 50px;
}
@media (max-width: 768px) {
  .section-tag {
    padding: 4px 10px 6px;
    font-size: 14px;
    line-height: 150%;
  }
}

.header {
  display: none;
}

.first-screen {
  position: relative;
  padding: 162px 0 446px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(183, 206, 253, 0.2)), to(rgba(0, 69, 215, 0.2)));
  background: linear-gradient(180deg, rgba(183, 206, 253, 0.2) 0%, rgba(0, 69, 215, 0.2) 100%);
}
@media (max-width: 1024px) {
  .first-screen {
    padding: 140px 0 70px;
  }
}
@media (max-width: 768px) {
  .first-screen {
    padding: 107px 0 51px;
  }
}
.first-screen::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  display: block;
  background: url(../assets/first-screen-bg.svg) center bottom/870px no-repeat;
}
@media (max-width: 1024px) {
  .first-screen::before {
    background-position: center bottom -140px;
  }
}
.first-screen__wrapper {
  position: relative;
  z-index: 10;
  max-width: 894px;
  margin: 0 auto;
}
.first-screen__title {
  margin: 0 0 22px;
  font-weight: 500;
  font-size: 62px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #292b32;
}
@media (max-width: 1024px) {
  .first-screen__title {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .first-screen__title {
    margin-bottom: 16px;
    font-size: 30px;
  }
}
.first-screen__title-mark {
  background-color: #cce8cd;
}
.first-screen__description {
  margin: 0 0 42px;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #292b32;
}
@media (max-width: 1024px) {
  .first-screen__description {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .first-screen__description {
    margin-bottom: 24px;
    font-size: 15px;
  }
}
.first-screen__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  max-width: 674px;
  margin: 0 auto 16px;
}
@media (max-width: 768px) {
  .first-screen__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.first-screen__form-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 6px;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 100px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .first-screen__form-controls {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 16px;
  }
}
.first-screen__form-controls-input {
  display: inline-block;
  width: 100%;
  padding: 10px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  color: #292b32;
  border: none;
  border-radius: 50px;
  outline-color: #3364cd;
  background-color: rgba(51, 100, 205, 0.04);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (max-width: 768px) {
  .first-screen__form-controls-input {
    font-size: 14px;
  }
}
.first-screen__form-controls-input[type=text] {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 126px;
          flex: 0 0 126px;
}
@media (max-width: 1024px) {
  .first-screen__form-controls-input[type=text] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 3px);
            flex: 0 0 calc(50% - 3px);
  }
}
@media (max-width: 768px) {
  .first-screen__form-controls-input[type=text] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.first-screen__form-controls-input[type=tel] {
  padding-left: 52px;
  background: rgba(51, 100, 205, 0.04) url(../assets/icons/flag-rus.svg) left 16px center/24px no-repeat;
}
@media (max-width: 1024px) {
  .first-screen__form-controls-input[type=tel] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 3px);
            flex: 0 0 calc(50% - 3px);
  }
}
@media (max-width: 768px) {
  .first-screen__form-controls-input[type=tel] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.first-screen__form-controls-input::-webkit-input-placeholder {
  color: #5c7bbd;
}
.first-screen__form-controls-input::-moz-placeholder {
  color: #5c7bbd;
}
.first-screen__form-controls-input:-ms-input-placeholder {
  color: #5c7bbd;
}
.first-screen__form-controls-input::-ms-input-placeholder {
  color: #5c7bbd;
}
.first-screen__form-controls-input::placeholder {
  color: #5c7bbd;
}
.first-screen__form-submit {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0;
  padding: 0;
  border: none;
}
.first-screen__form-submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 14px 24px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 100px;
  background-color: #3364cd;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.first-screen__form-submit-button:hover {
  background-color: #5c83d7;
}
.first-screen__form-submit-button::after {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 24px;
  aspect-ratio: 1;
  background: url(../assets/icons/bulb.svg) center/cover no-repeat;
}
.first-screen__disclaimer {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.03em;
  text-align: center;
  color: #292b32;
}
@media (max-width: 768px) {
  .first-screen__disclaimer {
    font-size: 12px;
  }
}
.first-screen__disclaimer-link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #3364cd;
}

.best-choise {
  padding: 96px 0;
}
@media (max-width: 768px) {
  .best-choise {
    padding: 60px 0;
  }
}
.best-choise__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1024px) {
  .best-choise__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.best-choise__heading {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 438px;
          flex: 0 0 438px;
}
@media (max-width: 1200px) {
  .best-choise__heading {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
  }
}
@media (max-width: 1024px) {
  .best-choise__heading {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.best-choise__heading-title {
  margin: 32px 0 18px;
  font-weight: 500;
  font-size: 42px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #292b32;
}
@media (max-width: 1024px) {
  .best-choise__heading-title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .best-choise__heading-title {
    margin: 18px 0;
    font-size: 30px;
  }
}
.best-choise__heading-description {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #292b32;
}
@media (max-width: 1024px) {
  .best-choise__heading-description {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .best-choise__heading-description {
    margin: 0 0 4px;
    font-size: 15px;
  }
}
.best-choise__heading-description-mark {
  font-weight: 500;
  color: #3364cd;
}
.best-choise__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 20px;
}
@media (max-width: 1024px) {
  .best-choise__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.best-choise__info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0d1c3f;
}
@media (max-width: 1200px) {
  .best-choise__info-card {
    padding: 32px 24px;
  }
}
@media (max-width: 768px) {
  .best-choise__info-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: none;
    border-radius: 16px;
  }
}
.best-choise__info-card:nth-child(1) {
  min-height: 414px;
  background-image: url(../assets/best-choise-card-bg-1.jpg);
}
@media (max-width: 1200px) {
  .best-choise__info-card:nth-child(1) {
    min-height: auto;
  }
}
.best-choise__info-card:nth-child(2) {
  min-height: 414px;
  background-image: url(../assets/best-choise-card-bg-2.jpg);
}
@media (max-width: 1200px) {
  .best-choise__info-card:nth-child(2) {
    min-height: auto;
  }
}
.best-choise__info-card:nth-child(4) {
  background-image: url(../assets/best-choise-card-bg-3.jpg);
}
.best-choise__info-card-title {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}
@media (max-width: 1024px) {
  .best-choise__info-card-title {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .best-choise__info-card-title {
    margin-bottom: 8px;
    font-size: 22px;
  }
}
.best-choise__info-card-description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}
@media (max-width: 768px) {
  .best-choise__info-card-description {
    margin-bottom: 24px;
    font-size: 14px;
  }
}
.best-choise__info-card-description-mark {
  font-weight: 600;
}
.best-choise__info-card-more-button {
  display: inline-block;
  padding: 14px 24px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .best-choise__info-card-more-button {
    width: 100%;
    padding: 12px 32px;
    font-size: 14px;
  }
}
.best-choise__info-card-more-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.statistics {
  padding: 96px 0;
  border-radius: 64px;
  background-color: #0d1c3f;
}
@media (max-width: 1024px) {
  .statistics {
    padding: 60px 0;
    border-radius: 32px;
  }
}
.statistics__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px 24px;
  margin: 32px 0 56px;
}
@media (max-width: 1024px) {
  .statistics__heading {
    margin: 24px 0 36px;
  }
}
@media (max-width: 768px) {
  .statistics__heading {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 18px 0 24px;
  }
}
.statistics__heading-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 744px;
          flex: 0 1 744px;
  font-weight: 500;
  font-size: 42px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #fff;
}
@media (max-width: 1024px) {
  .statistics__heading-title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .statistics__heading-title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    font-size: 30px;
  }
}
.statistics__heading-description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #fff;
}
@media (max-width: 1024px) {
  .statistics__heading-description {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .statistics__heading-description {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    font-size: 15px;
  }
}
.statistics__info-card {
  color: #ffffff;
}

.training-system {
  padding: 96px 0;
}
@media (max-width: 1024px) {
  .training-system {
    padding: 60px 0;
  }
}
.training-system__title {
  max-width: 743px;
  margin: 32px 0 56px;
  font-weight: 500;
  font-size: 42px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #292b32;
}
@media (max-width: 1024px) {
  .training-system__title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .training-system__title {
    margin: 18px 0 24px;
    font-size: 30px;
  }
}
.training-system__cards {
  display: block;
}
@media (max-width: 768px) {
  .training-system__cards .swiper-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 12px;
    -webkit-transform: none !important;
            transform: none !important;
  }
}
.training-system__cards .swiper-slide {
  max-width: calc(25% - 15px);
  width: 100%;
  -webkit-transition: max-width linear 0.2s;
  transition: max-width linear 0.2s;
}
@media (max-width: 1200px) {
  .training-system__cards .swiper-slide {
    max-width: calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .training-system__cards .swiper-slide {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: none;
    margin: 0 !important;
  }
}
.training-system__cards .swiper-slide-active {
  max-width: calc(50% - 10px);
}
@media (max-width: 768px) {
  .training-system__cards .swiper-slide-active {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: none;
  }
}
.training-system__cards .swiper-slide .training-system__card {
  padding: 32px 24px;
}
@media (max-width: 768px) {
  .training-system__cards .swiper-slide .training-system__card {
    padding: 24px;
  }
}
.training-system__cards .swiper-slide .training-system__card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.training-system__cards .swiper-slide .training-system__card-result {
  display: none;
}
@media (max-width: 768px) {
  .training-system__cards .swiper-slide .training-system__card-result {
    display: block;
  }
}
.training-system__cards .swiper-slide-active .training-system__card {
  padding: 32px;
}
@media (max-width: 768px) {
  .training-system__cards .swiper-slide-active .training-system__card {
    padding: 24px;
  }
}
.training-system__cards .swiper-slide-active .training-system__card-description {
  display: block;
}
.training-system__cards .swiper-slide-active .training-system__card-result {
  display: block;
}
.training-system__cards .swiper-pagination-bullet {
  position: relative;
  z-index: 10;
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #c1d0f0;
  border: 2px solid #c1d0f0;
  background-color: #ffffff;
  opacity: 1;
}
.training-system__cards .swiper-pagination-bullet-active {
  color: #ffffff;
  border-color: #3364cd;
  background-color: #3364cd;
}
.training-system__cards-pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 160px;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin: 32px auto 0;
}
@media (max-width: 1024px) {
  .training-system__cards-pagination {
    display: none;
  }
}
.training-system__cards-pagination::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 5px;
  right: 5px;
  z-index: 1;
  height: 2px;
  background-color: #c1d0f0;
}
.training-system__card {
  position: relative;
  min-height: 328px;
  height: 100%;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 32px;
  background-color: #eaeffa;
}
@media (max-width: 768px) {
  .training-system__card {
    min-height: auto;
  }
}
.training-system__card > * {
  position: relative;
  z-index: 10;
}
.training-system__card-id {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
  font-weight: 500;
  font-size: 308px;
  line-height: 240px;
  text-align: center;
  color: #3364cd;
  opacity: 0.05;
}
@media (max-width: 768px) {
  .training-system__card-id {
    font-size: 190px;
    line-height: 140px;
  }
}
.training-system__card-time {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 16px;
  padding: 10px 16px 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(86, 179, 89, 0.1);
  border-radius: 50px;
  background-color: #56b359;
}
.training-system__card-title {
  max-width: 500px;
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #292b32;
}
@media (max-width: 768px) {
  .training-system__card-title {
    margin-bottom: 8px;
    font-size: 22px;
  }
}
.training-system__card-description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #292b32;
}
.training-system__card-result {
  margin: 6px 0 0;
  font-size: 16px;
  line-height: 150%;
}
.training-system__card-result-title {
  font-weight: 500;
  color: #56b359;
}
.training-system__card-result-description {
  font-weight: 400;
  color: #292b32;
}

.about-me {
  padding: 0 0 96px;
}
@media (max-width: 1024px) {
  .about-me {
    padding: 0 0 60px;
  }
}
.about-me__title {
  margin: 32px 0 56px;
  font-weight: 500;
  font-size: 42px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #292b32;
}
@media (max-width: 1024px) {
  .about-me__title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .about-me__title {
    margin: 18px 0 24px;
    font-size: 30px;
  }
}
.about-me__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
}
@media (max-width: 768px) {
  .about-me__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.about-me__author {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 285px;
          flex: 0 0 285px;
  margin: 0;
}
@media (max-width: 768px) {
  .about-me__author {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.about-me__author-image {
  display: block;
  max-width: 100%;
  height: 410px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
@media (max-width: 768px) {
  .about-me__author-image {
    height: auto;
  }
}
.about-me__author-info {
  position: absolute;
  left: 32px;
  right: 32px;
  bottom: 32px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
@media (max-width: 768px) {
  .about-me__author-info {
    left: 50%;
    right: auto;
    max-width: calc(100% - 40px);
    width: 276px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.about-me__author-info-name {
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.about-me__author-info-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(179, 179, 179, 0.5);
}
@media (max-width: 768px) {
  .about-me__author-info-role {
    font-size: 14px;
  }
}
.about-me__cv {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 768px) {
  .about-me__cv {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.about-me__cv-message {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #292b32;
}
@media (max-width: 768px) {
  .about-me__cv-message {
    margin-bottom: 18px;
    font-size: 15px;
  }
}
.about-me__cv-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin: 0 0 42px;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 768px) {
  .about-me__cv-list {
    margin-bottom: 28px;
  }
}
.about-me__cv-list-item {
  min-height: 30px;
  padding-left: 40px;
  background: url(../assets/icons/list-marker.svg) top 5px left/24px no-repeat;
}
@media (max-width: 768px) {
  .about-me__cv-list-item {
    min-height: 20px;
    padding-left: 30px;
    background-position: top 3px left;
    background-size: 16px;
  }
}
.about-me__cv-list-item-title {
  margin: 0 0 4px;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #3364cd;
}
@media (max-width: 768px) {
  .about-me__cv-list-item-title {
    font-size: 15px;
  }
}
.about-me__cv-list-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #292b32;
}
@media (max-width: 768px) {
  .about-me__cv-list-item-description {
    font-size: 14px;
  }
}
.about-me__cv-consult-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  min-height: 54px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 14px 24px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 100px;
  background-color: #3364cd;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .about-me__cv-consult-button {
    min-height: 48px;
    width: 100%;
    padding: 13px 24px;
  }
}
.about-me__cv-consult-button:hover {
  background-color: #5c83d7;
}

.reviews {
  padding: 96px 0;
  border-radius: 64px 64px 0 0;
  background-color: #0d1c3f;
}
@media (max-width: 1024px) {
  .reviews {
    padding: 60px 0;
    border-radius: 32px 32px 0 0;
  }
}
.reviews__title {
  margin: 32px 0 56px;
  font-weight: 500;
  font-size: 42px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #fff;
}
@media (max-width: 1024px) {
  .reviews__title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .reviews__title {
    margin: 18px 0 24px;
    font-size: 30px;
  }
}
.reviews__slider {
  display: block;
}
.reviews__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 412px;
  padding: 30px 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 32px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .reviews__slide {
    min-height: 400px;
  }
}
.reviews__slide::after {
  content: "";
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.reviews__slide-title {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #292b32;
}
.reviews__slide-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.reviews__slide-info-tag {
  padding: 6px 12px 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #56b359;
  border: 1px solid #56b359;
  border-radius: 50px;
}
.reviews__slide-info-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.01em;
  color: #292b32;
}
.reviews__slide-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
  margin: 16px 0 0;
}
.reviews__slide-author-photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0;
  border: 3px solid #c1d0f0;
  border-radius: 50px;
  overflow: hidden;
}
.reviews__slide-author-photo-image {
  display: block;
  max-width: 100%;
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews__slide-author-info-name {
  margin: 0 0 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #292b32;
}
.reviews__slide-author-info-role {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.01em;
  color: #292b32;
}