@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #000000;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-tag {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 16px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #3364cd;
  border: 1px solid #3364cd;
  border-radius: 50px;
}
@media (max-width: 768px) {
  .section-tag {
    padding: 4px 10px 6px;
    font-size: 14px;
    line-height: 150%;
  }
}

.header {
  display: none;
}

.first-screen {
  position: relative;
  padding: 162px 0 446px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(183, 206, 253, 0.2)), to(rgba(0, 69, 215, 0.2)));
  background: linear-gradient(180deg, rgba(183, 206, 253, 0.2) 0%, rgba(0, 69, 215, 0.2) 100%);
}
@media (max-width: 1024px) {
  .first-screen {
    padding: 140px 0 70px;
  }
}
@media (max-width: 768px) {
  .first-screen {
    padding: 107px 0 51px;
  }
}
.first-screen::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  display: block;
  background: url(../assets/first-screen-bg.svg) center bottom/870px no-repeat;
}
@media (max-width: 1024px) {
  .first-screen::before {
    background-position: center bottom -140px;
  }
}
.first-screen__wrapper {
  position: relative;
  z-index: 10;
  max-width: 894px;
  margin: 0 auto;
}
.first-screen__title {
  margin: 0 0 22px;
  font-weight: 500;
  font-size: 62px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #292b32;
}
@media (max-width: 1024px) {
  .first-screen__title {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .first-screen__title {
    margin-bottom: 16px;
    font-size: 30px;
  }
}
.first-screen__title-mark {
  background-color: #cce8cd;
}
.first-screen__description {
  margin: 0 0 42px;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #292b32;
}
@media (max-width: 1024px) {
  .first-screen__description {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .first-screen__description {
    margin-bottom: 24px;
    font-size: 15px;
  }
}
.first-screen__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  max-width: 674px;
  margin: 0 auto 16px;
}
@media (max-width: 768px) {
  .first-screen__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.first-screen__form-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 6px;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 100px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .first-screen__form-controls {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 16px;
  }
}
.first-screen__form-controls-input {
  display: inline-block;
  width: 100%;
  padding: 10px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  color: #292b32;
  border: none;
  border-radius: 50px;
  outline-color: #3364cd;
  background-color: rgba(51, 100, 205, 0.04);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (max-width: 768px) {
  .first-screen__form-controls-input {
    font-size: 14px;
  }
}
.first-screen__form-controls-input[type=text] {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 126px;
          flex: 0 0 126px;
}
@media (max-width: 1024px) {
  .first-screen__form-controls-input[type=text] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 3px);
            flex: 0 0 calc(50% - 3px);
  }
}
@media (max-width: 768px) {
  .first-screen__form-controls-input[type=text] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.first-screen__form-controls-input[type=tel] {
  padding-left: 52px;
  background: rgba(51, 100, 205, 0.04) url(../assets/icons/flag-rus.svg) left 16px center/24px no-repeat;
}
@media (max-width: 1024px) {
  .first-screen__form-controls-input[type=tel] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 3px);
            flex: 0 0 calc(50% - 3px);
  }
}
@media (max-width: 768px) {
  .first-screen__form-controls-input[type=tel] {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.first-screen__form-controls-input::-webkit-input-placeholder {
  color: #5c7bbd;
}
.first-screen__form-controls-input::-moz-placeholder {
  color: #5c7bbd;
}
.first-screen__form-controls-input:-ms-input-placeholder {
  color: #5c7bbd;
}
.first-screen__form-controls-input::-ms-input-placeholder {
  color: #5c7bbd;
}
.first-screen__form-controls-input::placeholder {
  color: #5c7bbd;
}
.first-screen__form-submit {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0;
  padding: 0;
  border: none;
}
.first-screen__form-submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 14px 24px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 100px;
  background-color: #3364cd;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.first-screen__form-submit-button:hover {
  background-color: #5c83d7;
}
.first-screen__form-submit-button::after {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 24px;
  aspect-ratio: 1;
  background: url(../assets/icons/bulb.svg) center/cover no-repeat;
}
.first-screen__disclaimer {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.03em;
  text-align: center;
  color: #292b32;
}
@media (max-width: 768px) {
  .first-screen__disclaimer {
    font-size: 12px;
  }
}
.first-screen__disclaimer-link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #3364cd;
}

.best-choise {
  padding: 96px 0;
}
@media (max-width: 768px) {
  .best-choise {
    padding: 60px 0;
  }
}
.best-choise__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1024px) {
  .best-choise__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.best-choise__heading {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 438px;
          flex: 0 0 438px;
}
@media (max-width: 1200px) {
  .best-choise__heading {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
  }
}
@media (max-width: 1024px) {
  .best-choise__heading {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.best-choise__heading-title {
  margin: 32px 0 18px;
  font-weight: 500;
  font-size: 42px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #292b32;
}
@media (max-width: 1024px) {
  .best-choise__heading-title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .best-choise__heading-title {
    margin: 18px 0;
    font-size: 30px;
  }
}
.best-choise__heading-description {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #292b32;
}
@media (max-width: 1024px) {
  .best-choise__heading-description {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .best-choise__heading-description {
    margin: 0 0 4px;
    font-size: 15px;
  }
}
.best-choise__heading-description-mark {
  font-weight: 500;
  color: #3364cd;
}
.best-choise__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 20px;
}
@media (max-width: 1024px) {
  .best-choise__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.best-choise__info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0d1c3f;
}
@media (max-width: 1200px) {
  .best-choise__info-card {
    padding: 32px 24px;
  }
}
@media (max-width: 768px) {
  .best-choise__info-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: none;
    border-radius: 16px;
  }
}
.best-choise__info-card:nth-child(1) {
  min-height: 414px;
  background-image: url(../assets/best-choise-card-bg-1.jpg);
}
@media (max-width: 1200px) {
  .best-choise__info-card:nth-child(1) {
    min-height: auto;
  }
}
.best-choise__info-card:nth-child(2) {
  min-height: 414px;
  background-image: url(../assets/best-choise-card-bg-2.jpg);
}
@media (max-width: 1200px) {
  .best-choise__info-card:nth-child(2) {
    min-height: auto;
  }
}
.best-choise__info-card:nth-child(4) {
  background-image: url(../assets/best-choise-card-bg-3.jpg);
}
.best-choise__info-card-title {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}
@media (max-width: 1024px) {
  .best-choise__info-card-title {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .best-choise__info-card-title {
    margin-bottom: 8px;
    font-size: 22px;
  }
}
.best-choise__info-card-description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}
@media (max-width: 768px) {
  .best-choise__info-card-description {
    margin-bottom: 24px;
    font-size: 14px;
  }
}
.best-choise__info-card-description-mark {
  font-weight: 600;
}
.best-choise__info-card-more-button {
  display: inline-block;
  padding: 14px 24px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .best-choise__info-card-more-button {
    width: 100%;
    padding: 12px 32px;
    font-size: 14px;
  }
}
.best-choise__info-card-more-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}