.about-me {
  padding: 0 0 96px;

  @include laptop {
    padding: 0 0 60px;
  }

  &__title {
    margin: 32px 0 56px;
    font-weight: 500;
    font-size: 42px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #292b32;

    @include laptop {
      font-size: 36px;
    }

    @include tablet {
      margin: 18px 0 24px;
      font-size: 30px;
    }
  }

  &__main {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__author {
    position: relative;
    flex: 0 0 285px;
    margin: 0;

    @include tablet {
      flex: 1 1 100%;
    }

    &-image {
      display: block;
      max-width: 100%;
      height: 410px;
      object-fit: cover;
      border-radius: 16px;

      @include tablet {
        height: auto;
      }
    }

    &-info {
      position: absolute;
      left: 32px;
      right: 32px;
      bottom: 32px;
      z-index: 100;
      display: flex;
      flex-direction: column;
      gap: 8px;

      @include tablet {
        left: 50%;
        right: auto;
        max-width: calc(100% - 40px);
        width: 276px;
        transform: translateX(-50%);
      }

      &-name {
        font-weight: 500;
        font-size: 22px;
        line-height: 130%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;
      }

      &-role {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(179, 179, 179, 0.5);

        @include tablet {
          font-size: 14px;
        }
      }
    }
  }

  &__cv {
    flex: 1 1 auto;

    @include tablet {
      flex: 1 1 100%;
    }

    &-message {
      margin: 0 0 16px;
      font-weight: 400;
      font-size: 22px;
      line-height: 150%;
      color: #292b32;

      @include tablet {
        margin-bottom: 18px;
        font-size: 15px;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 0 0 42px;
      padding: 0;
      list-style-type: none;

      @include tablet {
        margin-bottom: 28px;
      }

      &-item {
        min-height: 30px;
        padding-left: 40px;
        background: url(../assets/icons/list-marker.svg) top 5px left / 24px no-repeat;

        @include tablet {
          min-height: 20px;
          padding-left: 30px;
          background-position: top 3px left;
          background-size: 16px;
        }

        &-title {
          margin: 0 0 4px;
          font-weight: 500;
          font-size: 22px;
          line-height: 150%;
          color: #3364cd;

          @include tablet {
            font-size: 15px;
          }
        }

        &-description {
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #292b32;

          @include tablet {
            font-size: 14px;
          }
        }
      }
    }

    &-consult {
      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        min-height: 54px;
        width: fit-content;
        padding: 14px 24px 16px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        color: #fff;
        border: none;
        border-radius: 100px;
        background-color: #3364cd;
        transition-property: background-color;
        transition-timing-function: ease-out;
        transition-duration: 0.2s;
        cursor: pointer;

        @include tablet {
          min-height: 48px;
          width: 100%;
          padding: 13px 24px;
        }

        &:hover {
          background-color: #5c83d7;
        }
      }
    }
  }
}
