.best-choise {
  &__wrapper {

  }

  &__heading {
    &-title {

    }

    &-description {
      &-mark {

      }
    }
  }

  &__info {
    &-card {
      &-title {
        
      }

      &-description {
        &-mark {
          
        }
      }

      &-more {
        &-button {

        }
      }
    }
  }
}