.faq {
  background-color: #0d1c3f;

  &__title {
    margin: 32px 0 56px;
    font-weight: 500;
    font-size: 42px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #fff;

    @include laptop {
      font-size: 36px;
    }

    @include tablet {
      margin: 18px 0 24px;
      font-size: 30px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include tablet {
      gap: 24px;
    }
  }

  &__card {
    &-toggler {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 24px;
      cursor: pointer;

      &-text {
        font-weight: 500;
        font-size: 32px;
        line-height: 130%;
        letter-spacing: -0.01em;
        color: #fff;
        pointer-events: none;

        @include tablet {
          font-size: 22px;
        }
      }

      &-button {
        display: block;
        flex: 0 0 auto;
        width: 48px;
        aspect-ratio: 1;
        padding: 16px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 48px;
        background: url(../assets/icons/plus.svg) center / 16px no-repeat;
        transition: transform ease-out 0.2s;
        pointer-events: none;

        @include tablet {
          width: 36px;
          background-size: 12px;
        }
      }
    }

    &.active &-toggler {
      &-button {
        transform: rotate(45deg);
      }
    }

    &-panel {
      max-height: 0;
      font-weight: 400;
      font-size: 22px;
      line-height: 140%;
      letter-spacing: -0.02em;
      color: #fff;
      overflow: hidden;
      transition: max-height ease-out 0.2s;

      @include tablet {
        font-size: 15px;
      }

      &::before {
        content: '';
        display: block;
        height: 19px;

        @include tablet {
          height: 16px;
        }
      }
    }
  }

  &__order {
    margin: 32px 0 0;

    @include tablet {
      margin-top: 24px;
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      min-height: 54px;
      width: fit-content;
      padding: 14px 24px 16px;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      text-align: center;
      color: #fff;
      border: none;
      border-radius: 100px;
      background-color: #3364cd;
      transition-property: background-color;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;
      cursor: pointer;

      @include tablet {
        min-height: 48px;
        width: 100%;
        padding: 13px 24px;
      }

      &:hover {
        background-color: #5c83d7;
      }
    }
  }
}
