.first-screen {
  
  &__title {
    &-mark {

    }
  }

  &__description {
    
  }

  &__form {
    &-controls {
      &-input {

      }
    }
    &-submit {
      &-button {
        
      }
    }
  }

  &__disclaimer {
    &-link {

    }
  }

}