.footer {
  padding: 52px 0;
  background-color: #0d1c3f;

  &__nav {
    display: flex;
    gap: 32px;
    margin: 0 0 24px;

    &-block {
      &-title {
        margin: 0 0 12px;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #9b9b9b;

        @include tablet {
          font-size: 12px;
        }
      }

      &-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
        padding: 0;
        list-style-type: none;

        &-item {
          &-link {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #eaecf0;
            transition: color ease-out 0.2s;

            &:hover {
              color: #3364cd;
            }
          }
        }
      }
    }

    &-contacts {
      display: flex;
      gap: 32px;

      @include tablet {
        flex-direction: column;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
  }

  &__agreement {
    &-link {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #bebebe;
      transition: color ease-out 0.2s;

      &:hover {
        color: #3364cd;
      }
    }
  }

  &__social {
    display: flex;
    flex: 0 0 auto;
    gap: 15px;

    &-link {
      flex: 0 0 auto;

      &-image {
        display: block;
        max-width: 100%;
        width: 32px;
        height: auto;
      }
    }
  }
}
