.faq {
  &__title {

  }

  &__main {

  }

  &__card {
    &-toggler {
      &-text {

      }

      &-button {

      }
    }

    &-panel {
      
    }
  }

  &__order {
    &-button {

    }
  }
}