.header {
  &.active::before {
    @include tablet {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 9998;
    }
  }

  &__wrapper {
    position: fixed;
    top: 24px;
    left: 50%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    min-height: 78px;
    max-width: 1200px;
    width: calc(100% - 40px);
    padding: 12px 200px;
    box-sizing: border-box;

    overflow: hidden;
    transform: translateX(-50%);

    @include desktop {
      justify-content: space-between;
      padding: 12px;
      padding-left: 36px;
    }

    @include tablet {
      top: 20px;
      min-height: 55px;
      padding: 8px;
      padding-left: 16px;
      overflow: visible;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 1;
      border-radius: 100px;
      box-shadow: 0 4px 8px 0 rgba(51, 100, 205, 0.12);
      background-color: #ffffff;
    }
  }

  &__burger {
    position: relative;
    z-index: 10;
    display: none;
    flex: 0 0 auto;

    @include tablet {
      display: block;
    }

    &-button {
      display: block;
      width: 24px;
      aspect-ratio: 1;
      border: none;
      background: url(../assets/icons/burger.svg) center / 24px no-repeat;
      cursor: pointer;
    }
  }

  &__nav {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px 24px;

    @include desktop {
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    @include tablet {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      max-height: 0px;
      padding: 0 20px;
      overflow: hidden;
      border-radius: 36px 36px 12px 12px;
      backdrop-filter: blur(24px);
      background: rgba(255, 255, 255, 0.7);
      transition: max-height ease-out 0.2s;
    }

    &::before {
      @include tablet {
        content: '';
        display: block;
        height: 55px;
      }
    }

    &::after {
      @include tablet {
        content: '';
        display: block;
        height: 1px;
      }
    }

    &-link {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: #292b32;
      transition: color ease-out 0.2s;

      &:hover {
        color: #3364cd;
      }
    }
  }

  &.active &__nav {
    @include tablet {
      max-height: calc(100dvh - 40px);
    }
  }

  &__consult {
    position: absolute;
    top: 50%;
    right: 12px;
    z-index: 10;
    transform: translateY(-50%);

    @include desktop {
      position: relative;
      top: auto;
      right: auto;
      z-index: 10;
      transform: none;
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      min-height: 54px;
      width: fit-content;
      padding: 14px 24px 16px;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      text-align: center;
      color: #fff;
      border: none;
      border-radius: 100px;
      background-color: #3364cd;
      transition-property: background-color;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;
      cursor: pointer;

      @include tablet {
        min-height: 40px;
        padding: 8px 16px 10px;
        font-size: 14px;
      }

      &:hover {
        background-color: #5c83d7;
      }
    }
  }
}
