.modal {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-property: backdrop-filter, background-color;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  opacity: 0;
  pointer-events: none;

  &.active {
    backdrop-filter: blur(12px);
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    pointer-events: all;
  }

  &__body {
    position: relative;
    max-width: calc(100dvw - 40px);
    max-height: calc(100dvh - 140px);
    margin-top: 106px;
    width: 638px;
    padding: 38px 42px 42px;
    box-sizing: border-box;
    border-radius: 32px;
    background-color: #0d1c3f;

    @include tablet {
      max-height: calc(100dvh - 76px - 40px);
      margin-top: 80px;
      padding: 26px 24px;
    }
  }

  &__close {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 24px;
    aspect-ratio: 1;
    background: url(../assets/icons/close.svg) center / cover no-repeat;

    @include tablet {
      top: 16px;
      right: 16px;
    }
  }

  &__content {
    max-height: calc(100dvh - 140px - 80px);
    box-sizing: border-box;
    overflow: auto;

    @include tablet {
      max-height: calc(100dvh - 76px - 40px - 26px * 2);
    }
  }

  &__title {
    margin: 0 0 22px;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #ffffff;

    @include laptop {
      font-size: 26px;
    }

    @include tablet {
      margin-bottom: 16px;
      font-size: 22px;
    }

    & span {
      color: #ff877e;
    }
  }

  &__description {
    margin: 0 0 38px;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;

    @include laptop {
      font-size: 20px;
    }

    @include tablet {
      margin-bottom: 24px;
      font-size: 15px;
    }
  }

  &__form {
    &-item {
      display: block;
      margin: 0 0 16px;

      &-label {
        margin: 0 0 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #fff;
      }

      &-control {
        position: relative;

        &-input {
          display: inline-block;
          width: 100%;
          padding: 9px 16px;
          box-sizing: border-box;
          font-weight: 500;
          font-size: 14px;
          line-height: 157%;
          text-align: left;
          color: #ffffff;
          border: 1px solid #4764a7;
          border-radius: 8px;
          outline: none;
          background-color: rgba(255, 255, 255, 0.15);

          &::placeholder {
            color: #989ead;
          }

          &[type='tel'] {
            padding-left: 44px;
            background: url(../assets/icons/flag-rus.svg) left 16px center / 20px no-repeat;
            background-color: rgba(255, 255, 255, 0.15);
          }
        }

        &-reset {
          position: absolute;
          top: 50%;
          right: 6px;
          z-index: 5;
          display: block;
          width: 36px;
          aspect-ratio: 1;
          border: none;
          background: url(../assets/icons/exclude.svg) center / 24px no-repeat;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
    }

    &-agreement {
      position: relative;
      display: flex;
      align-items: center;
      gap: 16px;
      margin: 24px 0;

      @include tablet {
        gap: 12px;
      }

      &::before {
        content: '';
        display: block;
        flex: 0 0 auto;
        width: 24px;
        aspect-ratio: 1;
        border-radius: 24px;
        background-color: #ffffff;
      }

      &:has(&-input:checked)::before {
        background: #ffffff url(../assets/icons/check.svg) center / 15px no-repeat;
      }

      &-input {
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0;
      }

      &-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #ccc;

        &-link {
          text-decoration: underline;
          text-decoration-skip-ink: none;
          color: #7ea7ff;
        }
      }
    }

    &-submit {
      margin: 0;
      padding: 0;
      border: none;

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        min-height: 54px;
        width: 100%;
        padding: 14px 24px 16px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        color: #fff;
        border: none;
        border-radius: 100px;
        background-color: #3364cd;
        transition-property: background-color;
        transition-timing-function: ease-out;
        transition-duration: 0.2s;
        cursor: pointer;

        @include tablet {
          min-height: 48px;
          width: 100%;
          padding: 13px 24px;
        }

        &:hover {
          background-color: #5c83d7;
        }
      }
    }
  }
}
