.statistics {
  padding: 96px 0;
  border-radius: 64px;
  background-color: #0d1c3f;

  @include laptop {
    padding: 60px 0;
    border-radius: 32px;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    gap: 12px 24px;
    margin: 32px 0 56px;

    @include laptop {
      margin: 24px 0 36px;
    }

    @include tablet {
      flex-wrap: wrap;
      margin: 18px 0 24px;
    }

    &-title {
      flex: 0 1 744px;
      font-weight: 500;
      font-size: 42px;
      line-height: 110%;
      letter-spacing: -0.01em;
      color: #fff;

      @include laptop {
        font-size: 36px;
      }

      @include tablet {
        flex: 1 1 100%;
        font-size: 30px;
      }
    }

    &-description {
      flex: 0 0 auto;
      font-weight: 400;
      font-size: 22px;
      line-height: 140%;
      letter-spacing: -0.02em;
      color: #fff;

      @include laptop {
        font-size: 20px;
      }

      @include tablet {
        flex: 1 1 100%;
        font-size: 15px;
      }
    }
  }

  &__info {
    &-card {
      color: #ffffff;
    }
  }
}
