.training-system {
  &__title {
  }

  &__cards {
  }

  &-card {
    &-id {
    }

    &-time {
    }

    &-title {
    }

    &-description {
    }

    &-result {
      &-title {
      }

      &-description {
      }
    }
  }
}
