.variants {
  &__title {
        margin: 32px 0 56px;
    font-weight: 500;
    font-size: 42px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #fff;

    @include laptop {
      font-size: 36px;
    }

    @include tablet {
      margin: 18px 0 24px;
      font-size: 30px;
    }
  }

  &__main {
  }

  &__first {
    &-title {
    }

    &-description {
    }
  }

  &__second {
    &-title {
    }

    &-description {
    }

    &-families {
    }
  }

  &__decision {
    &-figure {
      &-image {
      }
    }

    &-content {
      &-families {
      }

      &-text {
      }

      &-book {
        &-button {
        }
      }
    }
  }
}
