.variants {
  padding: 96px 0;
  background-color: #0d1c3f;

  @include laptop {
    padding: 60px 0;
  }

  &__title {
    margin: 0 0 56px;
    font-weight: 500;
    font-size: 42px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #fff;

    @include laptop {
      font-size: 36px;
    }

    @include tablet {
      margin: 0 0 24px;
      font-size: 30px;
    }
  }

  &__main {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__first {
    flex: 0 0 438px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 32px;
    background-color: #eaeffa;

    @include laptop {
      flex: 0 0 calc(100% / 2 - 20px / 2);
    }

    @include tablet {
      flex: 1 1 100%;
      padding: 24px;
      border-radius: 16px;
    }

    &-title {
      width: fit-content;
      margin: 0 0 32px;
      padding: 8px 14px 10px;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: #251c41;
      border: 1px solid #251c41;
      border-radius: 50px;

      @include tablet {
        margin-bottom: 24px;
        padding: 6px 10px 8px;
        font-size: 16px;
      }
    }

    &-description {
      font-weight: 500;
      font-size: 32px;
      line-height: 140%;
      color: #292b32;

      @include laptop {
        font-size: 26px;
      }

      @include tablet {
        font-size: 22px;
      }
    }
  }

  &__second {
    flex: 0 0 calc(100% - 438px - 20px);
    padding: 32px;
    box-sizing: border-box;
    border-radius: 32px;
    background: linear-gradient(270deg, #6e9cff 0%, #3364cd 100%);

    @include laptop {
      flex: 0 0 calc(100% / 2 - 20px / 2);
    }

    @include tablet {
      flex: 1 1 100%;
      padding: 24px;
      border-radius: 16px;
    }

    &-title {
      width: fit-content;
      margin: 0 0 32px;
      padding: 8px 14px 10px;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: #ffffff;
      border: 1px solid rgba(111, 204, 113, 0.1);
      border-radius: 50px;
      background-color: #56b359;

      @include tablet {
        margin-bottom: 24px;
        padding: 6px 10px 8px;
        font-size: 16px;
      }
    }

    &-description {
      margin: 0 0 16px;
      font-weight: 500;
      font-size: 32px;
      line-height: 140%;
      color: #ffffff;

      @include laptop {
        font-size: 26px;
      }

      @include tablet {
        margin-bottom: 12px;
        font-size: 22px;
      }
    }

    &-families {
      font-weight: 500;
      font-size: 68px;
      line-height: 100%;
      letter-spacing: -0.01em;
      color: #ffffff;

      @include laptop {
        font-size: 48px;
      }

      @include tablet {
        font-size: 30px;
      }
    }
  }

  &__decision {
    display: flex;
    gap: 20px;
    flex: 1 1 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 32px;
    background-color: #eaeffa;

    @include tablet {
      flex-wrap: wrap;
    }

    &-figure {
      flex: 0 0 auto;
      margin: 0;

      @include tablet {
        flex: 1 1 100%;
      }

      &-image {
        display: block;
        max-width: 100%;
        width: 432px;
        height: auto;
        border-radius: 30px;

        @include laptop {
          width: 360px;
        }

        @include tablet {
          width: 100%;
        }
      }
    }

    &-content {
      padding: 30px 0;
      padding-right: 24px;
      box-sizing: border-box;

      @include tablet {
        padding: 4px 16px 18px;
      }

      &-title {
        margin: 0 0 12px;
        font-weight: 500;
        font-size: 32px;
        line-height: 140%;
        color: #292b32;

        @include laptop {
          font-size: 26px;
        }

        @include tablet {
          margin-bottom: 8px;
          font-size: 22px;
        }
      }

      &-text {
        max-width: 640px;
        font-weight: 500;
        font-size: 22px;
        line-height: 140%;
        color: #292b32;

        @include laptop {
          font-size: 20px;
        }

        @include tablet {
          font-size: 15px;
        }

        & span {
          font-weight: 600;
          color: #56b359;
        }
      }

      &-book {
        margin: 32px 0 0;

        @include tablet {
          margin-top: 24px;
        }

        &-button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          min-height: 54px;
          width: fit-content;
          padding: 14px 24px 16px;
          box-sizing: border-box;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: -0.04em;
          text-align: center;
          color: #fff;
          border: none;
          border-radius: 100px;
          background-color: #3364cd;
          transition-property: background-color;
          transition-timing-function: ease-out;
          transition-duration: 0.2s;
          cursor: pointer;

          @include tablet {
            min-height: 48px;
            width: 100%;
            padding: 12px 12px 14px;
            font-size: 14px;
          }

          &:hover {
            background-color: #5c83d7;
          }
        }
      }
    }
  }
}
