// Base

@import './b-mixins';
@import './b-reset';

// Modules

@import './m-container';
@import './m-section-tag';

// Layouts

@import './l-header';
@import './l-main';
@import './l-first-screen';
@import './l-best-choise';
@import './l-statistics';
@import './l-training-system';
@import './l-about-me';
@import './l-reviews';
@import './l-faq';
@import './l-variants';
@import './l-footer';
@import './l-modal';
